#toolbar-message-actions {
    order: 4;
}

.public-ui #toolbar button.send-message.ms-3 {
    margin-left: 0 !important;
}

.has-toolbar-newsletter-actions-open #toolbar .toolbar-content.show {
    bottom: 0px;
    top: inherit !important;
}
